Intro To Python
=====

In this notebook, we will explore basic Python:

- data types, including dictionaries
- functions 
- loops

Please note that we are using Python 3.    
(__NOT__ Python 2! Python 2 has some different functions and syntax)

In [0]:
# Let's make sure we are using Python 3
import sys
print(sys.version[3])

import pandas as pd

 # list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

.
        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

.# 1. Basic Data Types: Numbers, Booleans, and Strings
## 1.1 Numbers

In [0]:
a = 5
# Note: use the `type()` function to get the type of a variable
# Numbers can be integers ('int'), such as 3, 5 and 3049, or floats
# ('float'), such as 2.5, 3.1, and 2.34938493
print(type(a))
print(a)

<class 'int'>
5

### Mathematical Operators: +, -, *, /, **
Mathematical operators allow you to perform math operations on numbers in Python.

In [0]:
b = a + 1
print(b)
c = a - 1
print(c)
d = a * 2
print(d)
e = a / 2
print(e)
# Note: ** is the exponention operator
f = a ** 2
print(f)

6
4
10
2.5
25

### Shorthand mathematical operators
`a += 1` is shorthand for `a = a + 1`

In [0]:
a += 1
print(a)
a *= 2
print(a)

6
12

## 1.2 Booleans & Logic Operators

In [0]:
im_true = True
im_false = False

print(type(im_true))

<class 'bool'>

### Equality operators
Equality operators (== and !=) allow you to compare the values of variables on the left and right hand side.

In [0]:
print(im_true == im_false) # Equality operator
print(im_true != im_false)

False
True

The `and` operator requires that the variables on each side of the operator are equal to true.

In [0]:
print(im_true and im_false)

False

The `or` operator only requires the ONE of the variables on each side of the operator to be true.

In [0]:
print(im_true or im_false)

True

## 1.3 Strings
You can use single or double quotes for strings.

In [0]:
my_string = 'delta'
my_other_string = "analytics"
my_other_string_test = "rocks"
print(my_string, my_other_string, my_other_string_test)

delta analytics rocks

### String methods
Concatenating strings:

In [0]:
another_string = 'hello, ' + my_string + " " + my_other_string
print(another_string)

hello, delta analytics

Get the length of the string:

In [0]:
print(len(another_string))

22

# 2. Container Data Types
## 2.1 Lists
A Python `list` stores multiple elements, which can be different types

In [0]:
my_list = ['a', 'b', 'c', 3485]
print(my_list)

['a', 'b', 'c', 3485]

You can access an element in a list with the following syntax:
Note: the first element in a list has an index of zero.

In [0]:
print(my_list[2])
print(my_list[0])

c
a

Reassigning elements in a list:

In [0]:
my_list[0] = 'delta'
print(my_list)

['delta', 'b', 'c', 3485]

Adding/removing elements from a list:

In [0]:
my_list.append('hello')
print(my_list)

my_list.pop()
print(my_list)

['delta', 'b', 'c', 3485, 'hello']
['delta', 'b', 'c', 3485]

Accessing multiple elements in a list:

In [0]:
print(my_list[0:2]) # Access elements in index 0, 1 and 2
print(my_list[2:]) # Access elements from index 2 to the end
print(my_list[:2]) # Access elements from the beginning to index 2

for x in my_list:
  print(x)

['a', 'b']
['c', 3485]
['a', 'b']
a
b
c
3485

## 2.2 Dictionaries
Dictionaries hold key/value pairs and are useful for storing information.

In [0]:
my_dict = { 'key_one': 'value_one', 'name': 'mike' }


a = [ 1 ,2, 3, 1, 1]
a

[1, 2, 3, 1, 1]

Access a value from a dictionary by a key:

In [0]:
print(my_dict['key_one'])
print(my_dict['name'])

value_one
mike

Looping over values of a dictionary:

In [0]:
for key in my_dict:
    print("The key is " + key)

NameError: ignored

In [0]:
for key, value in my_dict.items():
    print("The key is " + key + ", and the value is " + value)

The key is key_one, and the value is value_one
The key is name, and the value is mike

## 2.3 Sets
Sets are similar to lists, but can only contain distinct values.

In [0]:
my_set = {1, 2, 3, 'hello'}
print(my_set)

{1, 2, 3, 'hello'}

When defining a set with the same value present multiple times, only one element will be added to the set. For example:

In [0]:
multiple = {1, 2, 2, 2, 2, 2, 3, 'hello'}
print(multiple) # This will return {1, 2, 3, 'hello'}

{'hello', 1, 2, 3}

# 3. Functions
A function is a block of reusable code that performs a certain action. Once you've defined a function, you can use it anywhere in your code!

Defining a function:

In [0]:
def am_i_happy(happiness_level):
    if happiness_level >= 10:
        return "You're very happy."
    elif happiness_level >= 5:
        return "You're happy."
    else:
        return "You're not happy."

Calling a function:

In [0]:
print(am_i_happy(0))

You're not happy.

In [0]:
print(am_i_happy(5))

You're happy.

# 4. Control Flow
## 4.1 If/Else If/Else

In [0]:
sleepy = True
hungry = False

if sleepy and hungry:
    print("Eat a snack and take a nap.")
elif sleepy and not hungry:
    print("Take a nap")
elif hungry and not sleepy:
    print("Eat a snack")
else:
    print("Go on with your day")

Take a nap

## 4.2 Loops
### 4.2.1 'while' loops

In [0]:
counter = 0
while (counter < 10):
    print("You have counted to", counter)
    counter = counter + 1 # Increment the counter
    
print("You're finished counting")

You have counted to 0
You have counted to 1
You have counted to 2
You have counted to 3
You have counted to 4
You have counted to 5
You have counted to 6
You have counted to 7
You have counted to 8
You have counted to 9
You're finished counting

### 4.2.2 'for' loops
Loop over a list:

In [0]:
cool_animals = ['cat', 'dog', 'lion', 'bear']

for animal in cool_animals:
    print(animal + "s are cool")

cats are cool
dogs are cool
lions are cool
bears are cool

Loop over a dict:

In [0]:
animal_sounds = {
    'dog': 'bark',
    'cat': 'meow',
    'pig': 'oink'
}

for animal, sound in animal_sounds.items():
    print("The " + animal + " says " + sound + "!")

The dog says bark!
The cat says meow!
The pig says oink!

<br>
<br> 
<br>

----